
/*codigo de contenido index */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-image: url('header1.jpg');
    background-size: cover; /* Ajusta la imagen para cubrir todo el header */
    background-position: center; /* Centra la imagen */
    background: #4CAF50;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

height: 300px; /* Altura del header */
color: white; /* Color del texto */
display: flex; /* Utiliza flexbox para alinear el contenido */
align-items: center; /* Centra verticalmente el contenido */
justify-content: center; /* Centra horizontalmente el contenido */
text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Añade sombra al texto */
}

main {
padding: 20px; /* Espaciado para el contenido principal */
}




/*

nav ul {
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}
*/
section {
    padding: 20px;
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #333;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

/*codigo de volver arriba */

#btnVolverArriba {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none; /* Oculto por defecto */
    background-color: #517df5;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 1000;
}
#btnVolverArriba:hover {
    background-color: #0e2486;
}


/*nuevo codigo de nav*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.logo {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    transition: color 0.3s ease, transform 0.3s ease;
}

.nav-links a:hover {
    color: #ff6347; /* Color al pasar el ratón */
    transform: scale(1.1); /* Efecto de escalado */
}

/* Efecto de subrayado en el enlace */
.nav-links a::after {
    content: '';
    display: block;
    height: 2px;
    background: #ff6347;
    width: 0;
    transition: width 0.3s ease;
    position: absolute;
    left: 0;
    bottom: -5px;
}

.nav-links a:hover::after {
    width: 100%; /* Subrayado al pasar el ratón */
}
/*codigo de ...*/